In [7]:
import pandas as pd

dict={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],
      'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict, index=['r0','r1','r2'])
print(df)
print('\n')

ndf =df.sort_index(ascending=False)
print(ndf)
print('\n')
ndf=df.sort_values(by='c1',ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [8]:
import pandas as pd

student1 = pd.Series ({'국어':100, '영어':80,'수학':90})
print(student1)
print('\n')
percentage = student1/200

print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

In [10]:
student1 = pd.Series ({'국어':100, '영어':80,'수학':90})
student2 = pd.Series ({'수학':80, '국어':90,'영어':80})
print(student1)
print('\n')
print(student2)
print('\n')

add = student1 +student2
sub = student1 - student2
mul = student1 *student2
div = student1/student2
print(type(div))
print('\n')

result = pd.DataFrame([add,sub,mul,div],
                     index = ['덧셈', '뺄셈','곱셈','나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64


<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [12]:
import numpy as np 
student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})

print(student1)
print(student2)

add = student1 +student2
sub = student1 - student2
mul = student1 *student2
div = student1/student2
print(type(add))
print('\n')
result =pd.DataFrame([add,sub,mul,div],
                     index = ['덧셈', '뺄셈','곱셈','나눗셈'])
print(result)

sr_add=student1.add(student2,fill_value=0)
sr_sub=student1.sub(student2,fill_value=0)
sr_mul=student1.mul(student2,fill_value=0)
sr_div=student1.div(student2,fill_value=0)

result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],
                   index=['덧셈','뺄셈','곱하기','나누기'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    80
국어    90
dtype: int64
<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN
       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱하기   0.0  7200.000   0.0
나누기   0.0     1.125   inf

In [14]:
import seaborn as sns
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]
print(df.head())
print(type(df))

add=df+10
print(add.head())
print(type(add))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
<class 'pandas.core.frame.DataFrame'>
    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
<class 'pandas.core.frame.DataFrame'>

In [16]:
print(df.tail())
add=df+10
print(add.tail())
print(type(add))

sub=add-df
print(sub)
print(type(sub))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75
      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75
<class 'pandas.core.frame.DataFrame'>
      age  fare
0    10.0  10.0
1    10.0  10.0
2    10.0  10.0
3    10.0  10.0
4    10.0  10.0
..    ...   ...
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

[891 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [19]:
file_path='./read_csv_sample.csv'

df1=pd.read_csv(file_path)
print(df1)

df2=pd.read_csv(file_path,header=None)
print(df2)

df3 =pd.read_csv(file_path,index_col=None)
print(df3)

df4=pd.read_csv(file_path,index_col='c0')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [23]:
df1=pd.read_excel('./남북한발전전력량.xlsx')
df2=pd.read_excel('./남북한발전전력량.xlsx',header=None)
print(df1)
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [24]:
df=pd.read_json('./read_json_sample.json')
print(df)
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True
Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [26]:
url='./sample.html'
tables=pd.read_html(url)
print(len(tables))

for i in range(len(tables)):
    print("tables[%s]"%i)
    print(tables[i])
    print('\n')
    
df=tables[i]
df.set_index(['name'],inplace=True)
print(df)

2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [28]:
df=pd.read_csv('./auto-mpg.csv',header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
             'acceleration','model year','origin','name']
print(df.head(10))
print(df.tail(10))

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl
      mpg  cylinders  displacement horsepower  weight  acceleration  \
388  26.0          4         156.0         92    2585          14.5
389  22.0          6         232.0        112    2835          14.7
390  32.0          4         144.0         96    2665          13.9
391  36.0          4         135.0         84    2370          13.0
392  27.0          4         151.0         90    2950          17.3
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                        name
388          82       1  chrysler lebaron medallion
389          82       1              ford granada l
390          82       3            toyota celica gt
391          82       1           dodge charger 2.2
392          82       1            chevrolet camaro
393          82       1             ford mustang gl
394          82       2                   vw pickup
395          82       1               dodge rampage
396          82       1                 ford ranger
397          82       1                  chevy s-10

In [29]:
print(df.shape)

(398, 9)

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

In [33]:
print(df.dtypes)
print(df.mpg.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object
float64

In [38]:
print(df.describe())

              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [39]:
print(df.count())
print(type(df.conunt()))

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'conunt'

In [40]:
unique_values=df['origin'].value_counts()
print(unique_values)
print(type(unique_values))

1    249
3     79
2     70
Name: origin, dtype: int64
<class 'pandas.core.series.Series'>